# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor Files
*.swp

# Video/Audio Files
*.mp4
*.mkv
*.wav

# Sofa Files
*.sofa

# Work Directories
include/
build/*
dependencies/*
!dependencies/Makefile
!build/Makefile
!testing/*
