# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/openal-src/dependencies/openal-soft-1.17.2/
src/openal-src/dependencies/freealut-master/
src/openal-src/dependencies/master.zip
src/openal-src/dependencies/openal-soft-1.17.2.tar.bz2
src/openal-src/example/openal-example
